.view-wrap {
  min-height: 100vh;
  background: #0f0f0f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 260px;
  height: 120px;
  padding: 10px;
  border-radius: 8px;
}

button {
  margin-top: 12px;
  padding: 10px 20px;
  background: #00ffaa;
  border: none;
  border-radius: 6px;
}